#footer
{
    /*border: 2px solid green;*/
    background-color: #93E2D8;
    position:absolute;
    height: 10%vh;
    width:100%;
    text-align: center;
    margin: 0;
    bottom: 0;
}

.leftmenu
{
    float: left;
    margin-left:1%;
   
}
.rightmenu
{
    float: right;
    margin-right: 1%;
}
