<div class="content">

    <div class="header">

        <h1>Welcome</h1>   

    </div>
     


    <div class="btn_welcome">

        <button mat-raised-button routerLink="login">Get Started</button>

    </div>
    
    <br>
    <div class="welcome_message">

        <div class="txt_welcome">

            <br><br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, accusamus dicta quas,
         quisquam nam aliquam ab molestias perferendis 
        saepe dolorem quis expedita.  Magnam tempore eius laboriosam iste qui magni 
        pariatur fugit ab amet <br><br> perspiciatis minus impedit, iure praesentium quia 
        ducimus, beatae voluptates perferendis omnis voluptate veritatis? Dolor alias 
        sit nihil dicta odio quaerat eos perferendis <br> nulla nemo? Blanditiis doloremque commodi sequi 
        distinctio
         <br><br> tempore. Esse architecto libero hic voluptatem quo beatae exercitationem ratione
          tenetur dicta amet atque maxime at quidem <br> molestiae perferendis, commodi corporis laboriosam
          assumenda optio accusantium temporibus aliquam soluta, earum ipsam. Obcaecati quasi necessitatibus 
          molestiae delectus odio impedit provident.
          <br><br>

        </div>
        

    </div>

    <app-footer></app-footer>


</div>





