<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'">

        

        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>

    </button>
    <img class="logo" src="../../../assets/logo6.png">
    <a class="left-nav" routerLink="/home">
        <h3>Home</h3>
    </a>
    <a class="left-nav" routerLink="/aboutus">
        <h3>About Us</h3>
    </a>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">


    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
            <div class="box">

                <div class="title">
                    <span class="block"></span>
                    <h1>COVID COMPLIANCE<span></span></h1>
                </div>
                <br>

                <div class="role">
                    <div class="block"></div>
                    <p>Tshwane University of Technology</p>
                </div>

            </div>
        </div>
        <div class="back_color">



            <div class="back_color">
                <div class="content">
                    <!--<img src="../../../assets/logo.png"  width="300" alt="">-->
                    <div class="form_1">
                        <mat-label class="txt_head">Create Account</mat-label>



                        <form [formGroup]="registerform" (ngSubmit)="onSubmit()">


                            <!-- <mat-form-field appearance="fill">
                <mat-label>User Type</mat-label>
                    <mat-icon matSuffix>people</mat-icon>
                <mat-select formControlName="user_type" [(ngModel)]="selectedUser">
                    <mat-option *ngFor="let user of users" [value]="user.id" >{{user.type}}</mat-option>
                </mat-select>

               
            </mat-form-field>
            <p>selected value is {{selectedUser}}</p><br>
            <p>is staff {{isStaff}}</p><br>
            <p>is visistor {{isVisistor}}</p><br> -->

                            <mat-form-field appearance="fill">

                                <mat-label>Select an option</mat-label>
                                <mat-select [(value)]="selected" (selectionChange)="checkUserTYpe()">
                                    <mat-option>None</mat-option>
                                    <mat-option value="Staff">Staff/Student</mat-option>
                                    <mat-option value="Visitor">Visitor</mat-option>

                                </mat-select>
                            </mat-form-field>

                            <!--  <p>You selected: {{selected}}</p> -->
                            <app-registervisitor *ngIf="isVisitor"></app-registervisitor>
                            <app-registeruser *ngIf="isStaff"></app-registeruser>


                        </form>


                    </div>
                </div>
            </div>

            <app-footer></app-footer>