<div class="back_color">
    <div class="content">
        <!--<img src="../../../assets/logo.png"  width="300" alt="">-->
        <div class="form_1">
            <mat-label class="txt_head">Create Account</mat-label>
        <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
 
            <div class="example-container">

                <mat-form-field appearance="fill">
                    <mat-label>Identiy Number</mat-label>
                    <input matInput formControlName="userId" placeholder="StudentNum/IDNum/StaffNum">
                    <mat-error *ngIf="(userId.touched || submitted)&& userId.errors?.required">Identity Number required</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
        
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" >
                    <mat-error *ngIf="(email.touched || submitted)&& email.errors?.required">E-mail is required</mat-error>
                    <mat-error *ngIf="email.touched && email.errors?.email">Enter a valid email address</mat-error>
             
                </mat-form-field>
            </div>

            <div class="example-container">

                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstNames" >
                    <mat-error *ngIf="(firstNames.touched || submitted) && firstNames.errors?.required">First Name is required</mat-error>
                </mat-form-field>
               

                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" >
                    <mat-error *ngIf="(lastName.touched || submitted) && lastName.errors?.required">Last Name is required</mat-error>
                </mat-form-field>
           
         
        </div>
        <div class="example-container">
        
            <mat-form-field appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="cellphone">
                <mat-hint>optional</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Campus</mat-label>
                <mat-select>
                    <mat-option *ngFor="let i of campuses" [value]="i"> {{i}} </mat-option>
                </mat-select>
            </mat-form-field>
       </div>

       <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Are You Vaccinated</mat-label>
            <mat-select>
                <mat-option *ngFor="let vac_opt of vac_opts" [value]="vac_opt">{{vac_opt}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!--Basic File Input-->
        <!--<input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
    </div>

<!--     <input type="file" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

     {{fileName || "Upload Vaccination card."}}

   <button mat-mini-fab color="primary" class="upload-btn"
    (click)="fileUpload.click()">

 <mat-icon>attach_file</mat-icon>
   </button>

 </div>  -->
        <div class="example-container">

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput  type='text' formControlName="password" >
                    <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> -->
            
            <mat-error *ngIf="(password.touched || submitted)&& password.errors?.required">Password is required</mat-error>

            <mat-error *ngIf="(password.touched && password.errors?.invalidPassword)">Password should have minimum 8 of characters,at least 1 uppercase letter,1 lowercase letter and 1 number</mat-error>
            <mat-hint>password</mat-hint>
           

        </mat-form-field>
            <mat-form-field appearance="fill">
        
                <mat-label>Confirm Password</mat-label>
                <input matInput type="text" formControlName="confirm_password" >
                 <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>  -->

                
            <!--<mat-error *ngIf="(con_pword.touched && con_pword.errors?.passwordMismatch)">Password should match</mat-error>-->
                <mat-hint>Re-type password</mat-hint>
        
            </mat-form-field>
            
       </div>
       
            <br>
            <button mat-raised-button [disabled]="registerform.invalid">Register</button>
            <br><br>
        
            <mat-label>Are you already registered? <span class="txt_sign_in"><a routerLink="/login">Sign-in</a></span></mat-label>
            <br><br>
        
        </form>
        </div>
    </div>
</div>


