<div class="container-fluid footer">

    <div class="row">

        <div class="col-lg-10">

            <a routerLink="#">About</a>
            <a routerLink="#">Contact</a>

        </div>
    
        <div class="col-lg-2">
    
            <span class="txt_follow">Follow Us</span>
            <a href="https:/facebook.com"><img src="../../../assets/facebook.svg" width="16" alt=""></a>
            <a href="https:/linkid.com"><img src="../../../assets/linkid.svg" width="16" alt=""></a>
    
        </div>

        <br><br>
        <span class="txt_copy">covid compliance&copy;2022</span>
    </div>

</div>