<div class="footer">
    <mat-icon>arrow_back_ios</mat-icon>
    <br>
    <!-- <div class="icons">
            <mat-icon>facebook</mat-icon>
            <mat-icon>email</mat-icon>
        <span class="txt_copy">Covid Compliance&copy;2022</span> 
    </div> -->
    <span class="right-icon"></span>
    <mat-icon >arrow_forward_ios</mat-icon>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a routerLink="/aboutus">About us</a></li>
                    <li><a routerLink="/contactus">Contact us</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a routerLink="/login">Get started</a></li>
                    <li><a routerLink="/help">Help</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

    
</footer>