

<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">

        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>

        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>

    </button>
    <img class="logo" src="../../../assets/logo6.png">

        <h3>Covid Compliance</h3>
       <!--  <a class="left-nav"  routerLink="/aboutus"><h3>About Us</h3></a>
        <a class="left-nav"  routerLink="/contactus"><h3>Contact Us</h3></a>
   -->

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar" src="../../../assets/social-care.png" alt = "userImage">

        <h4 class="name">Officer Name</h4>
        <p class="designation">Officer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/officer">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" routerLink="/officerprofile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button> 
     
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>announcement</mat-icon>
            <span>Notifications</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        
        <button mat-button class="menu-button" (click)="deletesession()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>

<mat-sidenav-content>       
<div class="container" >
  <div class="container-content">
    <br><br>
      <mat-card-title>Profile</mat-card-title>    
    <br><br>
    
    <form [formGroup]="officerprofile">
        <div class="example-container">

           <mat-form-field appearance="fill">
                <mat-label>Officer Id</mat-label>
                <input formControlName="Officer_id" matInput  readonly>
                <mat-icon matSuffix>id</mat-icon>
            </mat-form-field > 

        
        <!-- <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <input formControlName="Gender" matInput placeholder="Placeholder" readonly>
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>  -->
    
        </div>
       <!--  <div class="example-container">
           <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input formControlName="Last_name" matInput placeholder="Placeholder" >
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field> 
      
           <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input formControlName="First_name" matInput readonly>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field> 

        </div> -->
        <div class="example-container">

        
          <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input formControlName="Email" matInput placeholder="Email Address" >
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input formControlName="Cellphone_number" matInput placeholder="Phone Number" >
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="Password" matInput>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
          
         <!--  <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input formControlName="Old_Password" matInput placeholder="New Password" >
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field> -->
        </div>

  
    </form>
        <div class="btns">
      <button mat-raised-button color="warn" mat-dialog-close="" routerLink="/home">Close</button>
      <button style="margin-left:10px" mat-raised-button color="primary" (click)="onUpdate()" >Update</button>
    </div>
  </div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
