
<h2 class="newsfeed">NewsFeed</h2>
<hr>
<section class="info-container">


    <div class="infobox1" *ngFor="let newsfeed of news">

        <h3>{{newsfeed.Title}}</h3>

        <p>{{newsfeed.News}}</p>
         
    </div>

<!--     <div class="infobox1">

        <h3>Eat Healthy Food</h3>

        <p>Apples, berries, tomatoes, celery and onions (veggies and fruits) Yogurt, sauerkraut and kombucha (probiotics) Salmon, walnuts and chia seeds (omega-3 fatty acids)</p>
         
    </div>
    <div class="infobox1">

        <h3>How to Train Your body</h3>

        <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Laboriosam veniam placeat sequi eos. Beatae reprehenderit voluptas modi laudantium commodi molestias, neque suscipit expedita magni ab alias aspernatur omnis id possimus, tempora quasi a rerum quas
         sunt! Temporibus exercitationem est quod!</p>
         
    </div> -->

    <div class="clearFloat"></div>

</section>
