
<h2 class="newsfeed">More Information</h2>
<hr>
<section class="info-container">

    <div class="infobox1">

        <h2>Our Location</h2>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.9463980449327!2d28.094705115629996!3d-25.54016234350906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebfcf9c4e2bb2cf%3A0xc3e391a9666f8399!2s2%20Aubrey%20Matlakala%20St%2C%20Soshanguve%20-%20K%2C%20Soshanguve%2C%200001!5e0!3m2!1sen!2sza!4v1651651242363!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         
    </div>

    <div class="infobox1">

        <h2>Covid Information</h2>

    <iframe src="https://sacoronavirus.co.za/" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         
    </div>

    <div class="infobox1">

        <h2>Covid Stats</h2>

        <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment. However, some will become seriously ill and require medical attention!</p>
         
    </div>


    <div class="clearFloat"></div>
    <br>
   

</section>

<div class="space"></div>
