
<h2 class="newsfeed">More Information</h2>
<hr>
<section class="info-container">

    <div class="infobox1">

        <h2>Something</h2>

        <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Laboriosam veniam placeat sequi eos. Beatae reprehenderit voluptas modi laudantium commodi molestias, neque suscipit expedita magni ab alias aspernatur omnis id possimus, tempora quasi a rerum quas
         sunt! Temporibus exercitationem est quod!</p>
         
    </div>

    <div class="infobox1">

        <h2>Something</h2>

        <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Laboriosam veniam placeat sequi eos. Beatae reprehenderit voluptas modi laudantium commodi molestias, neque suscipit expedita magni ab alias aspernatur omnis id possimus, tempora quasi a rerum quas
         sunt! Temporibus exercitationem est quod!</p>
         
    </div>

    <div class="infobox1">

        <h2>Something</h2>

        <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Laboriosam veniam placeat sequi eos. Beatae reprehenderit voluptas modi laudantium commodi molestias, neque suscipit expedita magni ab alias aspernatur omnis id possimus, tempora quasi a rerum quas
         sunt! Temporibus exercitationem est quod!</p>
         
    </div>
    <div class="infobox1">

        <h2>Something</h2>

        <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Laboriosam veniam placeat sequi eos. Beatae reprehenderit voluptas modi laudantium commodi molestias, neque suscipit expedita magni ab alias aspernatur omnis id possimus, tempora quasi a rerum quas
         sunt! Temporibus exercitationem est quod!</p>
         
    </div>

    <div class="clearFloat"></div>

</section>
<hr>