mat-toolbar {
    background:#003883;
    color: #ffffff;
    height: 60px;
    text-align: center;
    margin-left: -14px;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #ffffff;
    color: #003883;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }

  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
  
  }
  mat-icon {
        margin-right: 8px;
    }
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: rgb(255, 254, 254);
  }
  
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 0, 0, 0.5);
  }
  .right-nav {
    display: flex;
    flex: 1 1 auto;
  }
  .left-nav{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    
  }
  .left-nav:visited{
    color: #f7f7f7;
    text-decoration: none;
  
  }
  .mat-drawer-container {
    background-image: url('../../../assets/logo4.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: soft-light;
    /*background-color: red;*/
    color: #003883;
  }
  .logo{
    width: 170px;
    height: fit-content;
    background-color: white ;
    margin-right: 20px;
  }  
  .admin-container{
    max-width: 97%;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 10px;
  }
  /*marinkie changes*/

  .url2-image{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: 60px;
     height: fit-content;
    width: fit-content;
    background-size: cover;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: yellow !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: yellow !important;
  } 

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: yellow !important;;
  }

  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #e6b102;
  } 

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: transparent;
    color: black;
    background-size: cover;
    background-image: url("../../../assets/logo.png");
  }

  .flip-card-back {
    background-color: white;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }
  .flip-container{

    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }

