<mat-toolbar class="mat-elevation-z8">

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">

      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>

      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>

  </button>
  <img class="logo" src="../../../assets/logo6.png">
  
      <h3>Covid Compliance</h3>

  <span class="right-nav"></span>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar" src="../../../assets/social-care.png" alt = "userImage">

      <h4 class="name">ADMIN</h4>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/admin">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

      <button mat-button class="menu-button" >
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>

      <button mat-button class="menu-button" routerLink="/manageofficers">
        <mat-icon>accessibility_new</mat-icon>
        <span>Officers</span>

      </button> <button mat-button class="menu-button" routerLink="/report">
        <mat-icon>assignment</mat-icon>
        <span>Report</span>
    </button>
    <button mat-button class="menu-button" routerLink="/adminfeedback">
        <mat-icon>assignment</mat-icon>
        <span>Comments</span>
    </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
        <mat-icon>edit</mat-icon>
        <span>Edit Home</span>
    </button>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>
      
      <button mat-button class="menu-button" (click)="deletesession()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
      </button>
      

  </mat-sidenav>

  <mat-sidenav-content>
  <h1 style="text-align: center;color: aliceblue;margin-top: 20px;font-weight:500;font-size: xx-large;">Hover over each logo to edit carousel items</h1>
  <mat-divider></mat-divider>  

  <div class="flip-container">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="url2-image" [src]="url" *ngIf="url" style="height: 300px; width: 400px;">
          </div>
          <div class="flip-card-back">
            <h1>Carousel Item 1</h1> 
            <h3>Please Select an Image (png/jpg/gif)</h3> 
            <p><input type="file"  (change)="selectFile($event)"></p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <video autoplay loop class="url2-image" [src]="url2" *ngIf="url2"  style="height: 300px; width: 400px;"></video>
          </div>
          <div class="flip-card-back">
            <h1>Carousel Item 1</h1> 
            <h3>Please Select a Video (.mp4)</h3> 
            <p><input type="file" (change)="selectFile2($event)"></p>
          </div>
        </div>
      </div>
    </div>   
  <div class="flip-container">
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="url2-image" [src]="url3" *ngIf="url3" style="height: 300px; width: 400px;">
            </div>
            <div class="flip-card-back">
              <h1>Carousel Item 2</h1> 
              <h3>Please Select an Image (png/jpg/gif)</h3> 
              <p><input type="file"  (change)="selectFile3($event)"></p>
            </div>
          </div>
        </div>
  
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <video autoplay loop class="url2-image" [src]="url4" *ngIf="url4"  style="height: 300px; width: 400px;"></video>
            </div>
            <div class="flip-card-back">
              <h1>Carousel Item 2</h1> 
              <h3>Please Select a Video (.mp4)</h3> 
              <p><input type="file" (change)="selectFile4($event)"></p>
            </div>
          </div>
        </div>
    </div>  
  <div class="flip-container">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="url2-image" [src]="url5" *ngIf="url5" style="height: 300px; width: 400px;">
              </div>
              <div class="flip-card-back">
                <h1>Carousel Item 3</h1> 
                <h3>Please Select an Image (png/jpg/gif)</h3> 
                <p><input type="file"  (change)="selectFile5($event)"></p>
              </div>
            </div>
          </div>
    
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <video autoplay loop class="url2-image" [src]="url6" *ngIf="url6"  style="height: 300px; width: 400px;"></video>
              </div>
              <div class="flip-card-back">
                <h1>Carousel Item 3</h1> 
                <h3>Please Select a Video (.mp4)</h3> 
                <p><input type="file" (change)="selectFile6($event)"></p>
              </div>
            </div>
          </div>
    </div>  
    <div class="flip-container">
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="url2-image" [src]="url7" *ngIf="url7" style="height: 300px; width: 400px;">
            </div>
            <div class="flip-card-back">
              <h1>Carousel Item 4</h1> 
              <h3>Please Select an Image (png/jpg/gif)</h3> 
              <p><input type="file"  (change)="selectFile7($event)"></p>
            </div>
          </div>
        </div>
  
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <video autoplay loop class="url2-image" [src]="url8" *ngIf="url8"  style="height: 300px; width: 400px;"></video>
            </div>
            <div class="flip-card-back">
              <h1>Carousel Item 4</h1> 
              <h3>Please Select a Video (.mp4)</h3> 
              <p><input type="file" (change)="selectFile8($event)"></p>
            </div>
          </div>
        </div>
  </div> 
  <div class="flip-container">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="url2-image" [src]="url9" *ngIf="url9" style="height: 300px; width: 400px;">
          </div>
          <div class="flip-card-back">
            <h1>Carousel Item 5</h1> 
            <h3>Please Select an Image (png/jpg/gif)</h3> 
            <p><input type="file"  (change)="selectFile9($event)"></p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <video autoplay loop class="url2-image" [src]="url10" *ngIf="url10"  style="height: 300px; width: 400px;"></video>
          </div>
          <div class="flip-card-back">
            <h1>Carousel Item 5</h1> 
            <h3>Please Select a Video (.mp4)</h3> 
            <p><input type="file" (change)="selectFile10($event)"></p>
          </div>
        </div>
      </div>
</div> 
<div class="flip-container">
  <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img class="url2-image" [src]="url11" *ngIf="url11" style="height: 300px; width: 400px;">
        </div>
        <div class="flip-card-back">
          <h1>Carousel Item 6</h1> 
          <h3>Please Select an Image (png/jpg/gif)</h3> 
          <p><input type="file"  (change)="selectFile11($event)"></p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <video autoplay loop class="url2-image" [src]="url12" *ngIf="url12"  style="height: 300px; width: 400px;"></video>
        </div>
        <div class="flip-card-back">
          <h1>Carousel Item 6</h1> 
          <h3>Please Select a Video (.mp4)</h3> 
          <p><input type="file" (change)="selectFile12($event)"></p>
        </div>
      </div>
    </div>
</div> 
  </mat-sidenav-content>

</mat-sidenav-container>
