.right-nav {
    display: flex;
    flex: 1 1 auto;
  }
.left-nav{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    
}
.left-nav:visited{
    color: white;
    text-decoration: none;

}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.officer-container{
max-width: 97%;
margin: 0 auto;
}