input
{
    height: 3em;
}
.buttons
{
    background-color: #93E2D8;
    border: none;
    border-radius: 0.55em;
}
#sign_link
{
    color:rgba(0, 255, 255, 0.712);
}
#form_1
{
    /*border:2px solid red;*/
    text-align: center;
}

#logo
{
    /*border:2px solid yellow;*/
    padding-right:400px;
    margin-top: 10px;
}
