


<div id="form_1">


    <div id="logo">

      <img src="../assets/logo.png"  width="400" alt="covid complaince logo">
    
    </div>

    <form action="">
  
      <input type="text" placeholder="Username"><br><br>
      <input type="text" placeholder="Password">
  
      <br><br>
      <input class="buttons" type="submit" value="Login">&nbsp;
      <input class="buttons" type="submit" value="Forgot Password">
  
      <p>Don`t have an account? <span id="sign_link">Sign Up</span></p>
  
    </form>
  
  </div>