<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">

        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>

        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>

    </button>
    <img class="logo" src="../../../assets/logo6.png">

        <h3>Covid Compliance</h3>
        <a class="left-nav"  routerLink="/aboutus"><h3>About Us</h3></a>
        <a class="left-nav"  routerLink="/contactus"><h3>Contact Us</h3></a>
  

    <span class="right-nav"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Health Form</button>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar" src="../../../assets/social-care.png" alt = "userImage">

        <h4 class="name">User Name</h4>
        <p class="designation">Student/Officer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" routerLink="/userprofile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>announcement</mat-icon>
            <span>Notifications</span>
        </button>

        <button mat-button class="menu-button" routerLink="/qrcode">
            <mat-icon>qr_code</mat-icon>
            <span>QR code</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        
        <button mat-button class="menu-button" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
           <p>Submit Health Form to get QR CODE.</p>
            <mat-spinner></mat-spinner>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
