
<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">

        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>

        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>

    </button>
    <img class="logo" src="../../../assets/logo6.png">

        <h3>Covid Compliance</h3>
        <!-- <a class="left-nav"  routerLink="/aboutus"><h3>About Us</h3></a>
        <a class="left-nav"  routerLink="/contactus"><h3>Contact Us</h3></a> -->
  

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar" src="../../../assets/social-care.png" alt = "userImage">

        <h4 class="name">Officer Name</h4>
        <p class="designation">Officer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/officer">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" routerLink="/officerprofile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" routerLink="/officerrecords">
            <mat-icon>assignment</mat-icon>
            <span>Records</span>
        </button>

        <button mat-button class="menu-button" routerLink="/viewaccess">
            <mat-icon>assignment</mat-icon>
            <span>View Granted</span>
        </button>

        

        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>announcement</mat-icon>
            <span>Notifications</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        
        <button mat-button class="menu-button" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>
    
  
    <!-- This is the table for the access granted one-->



    <!--Access Pending Table-->
    <br>
    <div class="officer-container">
    
        <h3>Access Pending</h3>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilterPending($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8">
            
            <table mat-table [dataSource]="dataSourcePending" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="Officer_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Officer ID </th>
                <td mat-cell *matCellDef="let row"> {{row.Officer_id}} </td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="User_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
                <td mat-cell *matCellDef="let row"> {{row.User_id}}</td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="Form_check">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Form </th>
                <td mat-cell *matCellDef="let row"> {{row.Form_check}} </td>
            </ng-container>
        
            <!-- Fruit Column -->
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
            </ng-container>
        
            <!-- Fruit Column -->
            <ng-container matColumnDef="Tempareture">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </th>
                <td mat-cell *matCellDef="let row"> {{row.Tempareture}} </td>
            </ng-container>
    
            <!-- Fruit Column -->
            <ng-container matColumnDef="isAllowedEntrence">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Access Granted </th>
                <td mat-cell *matCellDef="let row"> {{row.isAllowedEntrence}} </td>
            </ng-container>
    
            <!-- Fruit Column -->
            <ng-container matColumnDef="Health_status_reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Health Status </th>
                <td mat-cell *matCellDef="let row"> {{row.Health_status_reason}} </td>
            </ng-container>
    
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnPending"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnPending;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
            </table>
        
            <mat-paginator #paginatorPending="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    
    </div>
    

