    mat-toolbar {
        background: #003883;
        color: #ffffff;
        height: 60px;
        text-align: center;
        /*  margin-left: -14px; */
    }
    
    mat-sidenav {
        margin: 16px;
        width: 200px;
        border-right: none;
        background: #ffffff;
        color: #003883;
        border-radius: 10px;
        padding: 16px;
        text-align: center;
    }
    
    section {
        background: rgba(255, 255, 255, 0.308);
        padding: 10px 0;
    }
    
    .container2 {
        max-width: 85%;
        margin: 20px;
        padding: 0 10px;
    }
    
    .carousel {
        display: block;
        text-align: left;
        position: relative;
        margin-bottom: 22px;
    }
    /* .carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
} */
    
    .content {
        height: calc(100vh - 98px);
        border-radius: 10px;
        margin: 16px;
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
    
    mat-sidenav-container {
        height: calc(100vh - 65px);
    }
    
    .menu-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1rem;
    }
    
    mat-icon {
        margin-right: 8px;
    }
    
    .avatar {
        margin-top: 16px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .name {
        margin-top: 8px;
        font-weight: normal;
    }
    
    .designation {
        margin-top: 2px;
        font-size: 0.7rem;
        color: rgb(255, 254, 254);
    }
    
    mat-divider {
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: rgba(255, 0, 0, 0.5);
    }
    
    .right-nav {
        display: flex;
        flex: 1 1 auto;
    }
    
    .left-nav {
        display: flex;
        margin-left: 20px;
        text-decoration: none;
    }
    
    .left-nav:visited {
        color: #f7f7f7;
        text-decoration: none;
    }
    
    .mat-drawer-container {
        /* background-image: url('../../../assets/logo4.jpg');*/
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(255, 255, 255);
        color: #003883;
    }
    
    .logo {
        width: 170px;
        height: fit-content;
        background-color: white;
        margin-right: 20px;
    }
    
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #003883;
    }
    
    .container {
        width: 100%;
        height: 30%;
        position: inherit;
        /* background: #232323;*/
        display: flex;
        justify-content: center;
        align-items: center;
        /*background-image: url(../../../assets/videos/covid.gif)*/
    }
    
    .container .box .title {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
    }
    
    .container .box .title .block {
        width: 0%;
        height: inherit;
        background: #ffb510;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex;
    }
    
    .container .box .title h1 {
        font-family: 'Poppins';
        color: rgb(0, 0, 0);
        /*white*/
        font-size: 40px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
    }
    
    .container .box .title h1 span {
        width: 0px;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffb510;
        -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        margin-left: 5px;
        margin-top: -10px;
        position: absolute;
        bottom: 13px;
        right: -12px;
    }
    
    .container .box .role {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 30px;
        margin-top: 0x;
    }
    
    .container .box .role .block {
        width: 0%;
        height: inherit;
        background: #e91e1e;
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
    }
    
    .container .box .role p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: 'Lato';
        color: rgb(0, 0, 0);
        /*white*/
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    
    @keyframes mainBlock {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    
    @keyframes secBlock {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    
    @keyframes mainFadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes popIn {
        0% {
            width: 0px;
            height: 0px;
            background: #39e405;
            border: 0px solid #ddd;
            opacity: 0;
        }
        50% {
            width: 10px;
            height: 10px;
            background: #e9d856;
            opacity: 1;
            bottom: 45px;
        }
        65% {
            width: 7px;
            height: 7px;
            bottom: 0px;
            width: 15px;
        }
        80% {
            width: 10px;
            height: 10px;
            bottom: 20px;
        }
        100% {
            width: 7px;
            height: 7px;
            background: #e9d856;
            border: 0px solid #222;
            bottom: 13px;
        }
    }
    
    @keyframes secFadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
    
    @keyframes top {
        0% {
            opacity: 0;
            bottom: -80px;
        }
        100% {
            opacity: 1;
            bottom: 0px;
        }
    }
    /**/
    
    .carousel>input[type="radio"]:nth-child(1):checked~.carousel__prev>label:nth-child(5),
    .carousel>input[type="radio"]:nth-child(1):checked~.carousel__next>label:nth-child(2),
    .carousel>input[type="radio"]:nth-child(2):checked~.carousel__prev>label:nth-child(1),
    .carousel>input[type="radio"]:nth-child(2):checked~.carousel__next>label:nth-child(3),
    .carousel>input[type="radio"]:nth-child(3):checked~.carousel__prev>label:nth-child(2),
    .carousel>input[type="radio"]:nth-child(3):checked~.carousel__next>label:nth-child(4),
    .carousel>input[type="radio"]:nth-child(4):checked~.carousel__prev>label:nth-child(3),
    .carousel>input[type="radio"]:nth-child(4):checked~.carousel__next>label:nth-child(5),
    .carousel>input[type="radio"]:nth-child(5):checked~.carousel__prev>label:nth-child(4),
    .carousel>input[type="radio"]:nth-child(5):checked~.carousel__next>label:nth-child(1) {
        opacity: 1 !important;
        z-index: 3;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .container1 {
        width: 95%;
        height: 600px;
        min-width: 900px;
        margin: 50px auto;
    }
    
    .img-container {
        width: 100%;
        /*  height: 100vh; */
        /* min-width: 900px; */
        margin: 10px auto;
    }
    /*     @media screen and (max-width:630px) {
        .info-container {}
    } */
    
    img {
        max-width: 100%;
        width: 100%;
        height: auto !important;
    }
    
    @media (max-width:767px) {
        img {
            max-width: 768px;
            max-height:100vh;
        }
    }
    
    @media (min-width:768px) {
        img {
            max-width:992px;
            max-height:100vh;
            
        }
    }
    
    @media (min-width:992px) {
        img {
            max-width: 1200px;
            max-height:100vh;
        }
    }
    
    @media (min-width:1200px) {
        img {
            max-width: 100%;
            max-height:100vh;
        }
    }
    
    .slider {
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }
    
    .slider figure div {
        float: left;
        width: 20%;
    }
    
    .slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        animation: animate 150s infinite;
    }
    
    .slider figure img {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        box-sizing: border-box;
    }
    
    @keyframes animate {
        0% {
            left: 0%;
        }
        10% {
            left: 0%;
        }
        12% {
            left: -100%;
        }
        22% {
            left: -100%;
        }
        24% {
            left: -200%;
        }
        34% {
            left: -200%;
        }
        36% {
            left: -300%;
        }
        46% {
            left: -300%;
        }
        48% {
            left: -400%;
        }
        58% {
            left: -400%;
        }
        60% {
            left: -300%;
        }
        70% {
            left: -300%;
        }
        72% {
            left: -200%;
        }
        82% {
            left: -200%;
        }
        84% {
            left: -100%;
        }
        94% {
            left: -100%;
        }
        96% {
            left: 0%;
        }
    }
    
    .infobox1 {
        float: left;
        width: 350px;
        height: 350px;
        overflow: hidden;
        /*  height:fit-content; */
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #e6b102;
        ;
        padding: 2.5%
    }
    
    .clearFloat {
        clear: both;
    }
    
    .info-container {
        display: flex;
        background-color: red;
        justify-content: center;
        /* text-align: center; */
        padding: 33px 15;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    /* 


.carousel {
    width: 95%;
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-left: 40px;
}

.carousel>input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
}

.carousel>input[type="radio"]:checked~.carousel__items .carousel__item,
.carousel>input[type="radio"]:checked~.carousel__prev>label,
.carousel>input[type="radio"]:checked~.carousel__next>label {
    opacity: 0;
}

.carousel>input[type="radio"]:nth-child(1):checked~.carousel__items .carousel__item:nth-child(1) {
    opacity: 1;
}

.carousel>input[type="radio"]:nth-child(1):checked~.carousel__nav>label:nth-child(1) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(2):checked~.carousel__items .carousel__item:nth-child(2) {
    opacity: 1;
}

.carousel>input[type="radio"]:nth-child(2):checked~.carousel__nav>label:nth-child(2) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(3):checked~.carousel__items .carousel__item:nth-child(3) {
    opacity: 1;
}

.carousel>input[type="radio"]:nth-child(3):checked~.carousel__nav>label:nth-child(3) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(4):checked~.carousel__items .carousel__item:nth-child(4) {
    opacity: 1;
}

.carousel>input[type="radio"]:nth-child(4):checked~.carousel__nav>label:nth-child(4) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(5):checked~.carousel__items .carousel__item:nth-child(5) {
    opacity: 1;
}

.carousel>input[type="radio"]:nth-child(5):checked~.carousel__nav>label:nth-child(5) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}

.carousel__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 600px;
    position: relative;
}

.carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.carousel__item img {
    width: 100%;
    background-size: cover;
    vertical-align: middle;
}

.carousel__prev>label,
.carousel__next>label {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    opacity: 0;
    z-index: 2;
}

.carousel__prev>label:hover,
.carousel__next>label:hover,
.carousel__prev>label:focus,
.carousel__next>label:focus {
    opacity: 0.5 !important;
}

.carousel__prev>label:before,
.carousel__next>label:before,
.carousel__prev>label:after,
.carousel__next>label:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
}

.carousel__prev>label:before,
.carousel__next>label:before {
    background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
    width: 60%;
    height: 60%;
    top: 20%;
}

.carousel__prev>label {
    left: 2%;
}

.carousel__prev>label:before {
    left: 35%;
    top: 20%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.carousel__next>label {
    right: 2%;
}

.carousel__next>label:before {
    left: 10%;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

.carousel__nav {
    position: absolute;
    bottom: 3%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.carousel__nav>label {
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.125%;
    width: 20px;
    height: 20px;
}


.carousel>input:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}

.carousel>input:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}

.carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}

.carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}

.carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}

.carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}

.carousel>input:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carousel>input:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0 3px 10px rgba(0 0 0/ 0.3);
}

.carousel>input:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carousel>input:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carousel>input:nth-of-type(5):checked~.carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carousel>input:nth-of-type(6):checked~.carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 400ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide figure {
    display: flex;
    margin: 0;
}

.carousel__slide div {
    position: relative;
    width: 100%;
}

.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 60%;
}

.carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__slide div>video ::before {
    padding-top: 0%;
}

.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 45%;
    min-width: 150px;
}

.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

.carousel__slide.scrollable {
    overflow-y: scroll;
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

.carousel__slides+.carousel__thumbnails {
    margin-top: 25px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
    cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
    box-shadow: 0.5rem 0.5rem rgb(44, 44, 44), -0.5rem -0.5rem #ccc;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 */