::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: yellow !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: blue !important;;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #e6b102;
} 




.example-container .mat-form-field + .mat-form-field {
    margin-left: 20px;
}
.btns{
    text-align: center;
    margin-top: 20px ;
}
.container-content{
  text-align: center;
  width: fit-content;
  margin: 35px auto  ;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color:white;
  background-color: #424242;
  height: 80%;
  border-radius: 0.7em;
  overflow-y: hidden;
  overflow-x: hidden;
}
mat-toolbar {
  background:#003883;
  color: #ffffff;
  height: 60px;
  text-align: center;
  margin-left: -14px;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #ffffff;
  color: #003883;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
  
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: rgb(255, 255, 255);
}

  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
  
  }
  mat-icon {
        margin-right: 8px;
    }
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: rgb(255, 254, 254);
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 0, 0, 0.822);
  }
  .right-nav {
    display: flex;
    flex: 1 1 auto;
  }
  .left-nav{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    
  }
  .left-nav:visited{
    color: #f7f7f7;
    text-decoration: none;
  
  }
 
.logo{
  width: 170px;
  height: fit-content;
  background-color: white ;
  margin-right: 20px;
}
.mat-drawer-container {
  background-image: url('../../../assets/logo4.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode: soft-light;
  overflow-y: hidden;
  /*background-color: red;*/
  color: #003883;
}
.mat-drawer-content {
  overflow: hidden;
}
