
mat-toolbar {
    background:#003883;
    color: #ffffff;
    height: 60px;
    text-align: center;
    margin-left: -14px;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #ffffff;
    color: #003883;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
section {
    background: white;
    padding: 10px 0;
}
.container2 {
    max-width: 85%;
    margin: 20px;
    padding: 0 10px;
}
.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0 3px 10px rgba(0 0 0/ 0.3);
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}
.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 400ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}
.carousel__slide figure {
    display: flex;
    margin: 0;
}
.carousel__slide div {
    position: relative;
    width: 100%;
}
.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 60%;
}
.carousel__slide div > img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__slide div >video ::before{
    padding-top: 0%;
}

.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}
.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 45%;
    min-width: 150px;
}
.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}
.carousel__slide.scrollable {
    overflow-y: scroll;
}
.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
    margin-top: 25px;
}
.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
    display: block;
    position: relative;
}
.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.carousel__thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
    cursor: pointer;
    
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
    box-shadow: 0.5rem 0.5rem rgb(44, 44, 44), -0.5rem -0.5rem #ccc;
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: rgb(255, 255, 255);
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

  
}
  mat-icon {
        margin-right: 8px;
    }
.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: rgb(255, 254, 254);
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 0, 0, 0.5);
}
.right-nav {
    display: flex;
    flex: 1 1 auto;
  }
.left-nav{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    
}
.left-nav:visited{
    color: #f7f7f7;
    text-decoration: none;

}
.mat-drawer-container {
   /* background-image: url('../../../assets/logo4.jpg');*/
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(255, 255, 255);
    color: #003883;
}
.logo{
    width: 170px;
    height: fit-content;
    background-color: white ;
    margin-right: 20px;
  }
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #003883;
}


.container {
    width: 100%;
    height: 30%;
   /* background: #232323;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(../../../assets/videos/covid.gif)*/
}

.container .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
   
}
.container .box .title .block {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}
.container .box .title h1 {
    font-family: 'Poppins';
    color: rgb(0, 0, 0); /*white*/
    font-size: 40px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}
.container .box .title h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffb510;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}
.container .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 0x;
}
.container .box .role .block {
    width: 0%;
    height: inherit;
    background: #e91e1e;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}
.container .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: 'Lato';
    color: rgb(0, 0, 0); /*white*/
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
   }
    50% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}
@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
   }
    50% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}
@keyframes mainFadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #39e405;
        border: 0px solid #ddd;
        opacity: 0;
   }
    50% {
        width: 10px;
        height: 10px;
        background: #e9d856;
        opacity: 1;
        bottom: 45px;
   }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
   }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
   }
    100% {
        width: 7px;
        height: 7px;
        background: #e9d856;
        border: 0px solid #222;
        bottom: 13px;
   }
}
@keyframes secFadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 0.5;
   }
}

@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
   }
    100% {
        opacity: 1;
        bottom: 0px;
   }
}



