

mat-toolbar {
  background:#003883;
  color: #ffffff;
  height: 60px;
  text-align: center;
  margin-left: -14px;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #ffffff;
  color: #003883;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}
mat-icon {
      margin-right: 8px;
  }
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(255, 254, 254);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 0, 0, 0.5);
}
.right-nav {
  display: flex;
  flex: 1 1 auto;
}
.left-nav{
  display: flex;
  margin-left: 20px;
  text-decoration: none;
  
}
.left-nav:visited{
  color: #f7f7f7;
  text-decoration: none;

}
.mat-drawer-container {
 /* background-image: url('../../../assets/logo4.jpg');*/
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgb(255, 255, 255);
  color: #003883;
}
.logo{
  width: 170px;
  height: fit-content;
  background-color: white ;
  margin-right: 20px;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #003883;
}

/*****************dsgfv****************/
.container0 ,.container1{
    max-width: 700px;
     margin: 0 auto;
}
.container0 > h1 {
    text-align: left;
    margin-top: 20px;
     margin-bottom: 30px;
}
.container1 > h1 {
        text-align: right;
        margin-top: 20px;
         margin-bottom: 30px;
}

hr.icon {
margin: 25px auto 30px;
padding: 0;
border: 0;
border-top: solid 3px;
text-align: center;
}

hr.icon:after {
content: "\f0e7";
display: inline-block;
position: relative;
top: -1.7rem;
padding: 0 1rem;
font-family: FontAwesome;
font-size: 3rem;
background-color: #fff; 
}

.meet-heading{
text-align: center;
margin-top: 20px;
font-size: 20px;
}
/*********************fgfhfgn************************/

.container-about {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: auto;
  margin-top: 3%;
  padding: 20px 0;
}
.container-about .card-about {
  position: relative;
  width: 320px;
  height: 400px;
  margin: 0 auto;
  background: white;
  border: lightgray 1px solid;
  box-shadow: 5px 10px #003883;
}
.container-about .card-about .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-about .card-about .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.container-about .card-about .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.container-about .card-about .face.face1 .card-1 {
  background-color: white;
  color: black;
}
.container-about .card-about .face.face1 .card-2 {
  background-color: white;
  color: black;
}
.container-about .card-about .face.face1 .card-3 {
  background-color: white;
  color: black;
}
.container-about .card-about .face.face1.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #fff;
  z-index: 10;
}


/**********************************************/

.box{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
  }
  .card{
    position: relative;
    width: 230px;
    height: 250px;
    background: #fff;
    margin: 0 auto;
    border: none;
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: all 0.5s ease;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 