
      <mat-toolbar class="mat-elevation-z8">

        <img class="logo" src="../../../assets/logo6.png" routerLink="/">

        <h3>Covid Compliance</h3>
        <a class="left-nav"  routerLink="/aboutus"><h3>About Us</h3></a>
        <a class="left-nav"  routerLink="/contactus"><h3>Contact Us</h3></a>


</mat-toolbar>
<mat-sidenav-container>



<div class="details-cards">    
    <h1 style="text-align: center; font-size: 30px;margin-bottom: 20px;padding-top: 20px;">About</h1>
   
<div class="row1">
    <div class="column1">
      <div class="card1">
        <h1>Who are we</h1>
            
            <hr class="icon">
            
            <p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p> 
              
             <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
           
      </div>
    </div>
    
    <div class="column1">
        <div class="card1">
          <h1>Our Vision</h1>
              
              <hr class="icon">
              
              <p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p> 
                
               <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
             
        </div>
      </div>
      <div class="column1">
        <div class="card1">
          <h1>Our Mission</h1>
              
              <hr class="icon">
              
              <p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p> 
                
               <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
             
        </div>
      </div>
</div>
</div> 
<div class="meet-heading">

    <h1 style="color: black;font-size: 30px;">Meet the team</h1>

</div>
<div class="box">
    <div class="card">
      <div class="imgBx">
          <img src="../../../assets/team/banze.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Banze Antonio<br><span>Software Developer</span></h2>
      </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="../../../assets/team/bohlali.jpg" alt="images">
        </div>
        <div class="details">
            <h2>Mphai Bothale<br><span>Software Developer</span></h2>
        </div>
      </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/cuma.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Cuma Wisani<br><span>Software Developer</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/hamilton.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Marobane Hamilton<br><span>Software Developer</span></h2>
        </div>
     </div>

</div>
<div class="box">
    <div class="card">
      <div class="imgBx">
          <img src="../../../assets/team/judy.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Sibanyoni Judicious<br><span>Software Developer</span></h2>
      </div>
    </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/malaka.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Malaka Thapelo<br><span>Business Analyst</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/mpila.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Mpila Sindiso<br><span>Software Developer</span></h2>
        </div>
     </div>

     <div class="card">
        <div class="imgBx">
            <img src="../../../assets/team/sihle.jpg" alt="images">
        </div>
        <div class="details">
            <h2>Magagula Sphesihle<br><span>Software Developer</span></h2>
        </div>
      </div>

</div>

<div class="box">
    <div class="card">
      <div class="imgBx">
          <img src="../../../assets/team/soesy.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Chauke Osesy<br><span>Business Analyst</span></h2>
      </div>
    </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/thupi.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Thupi Marinkie<br><span>Software Developer</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/xilombe.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Makhubela Xilombe<br><span>Business Analyst</span></h2>
        </div>
     </div>

     <div class="card">
        <div class="imgBx">
            <img src="../../../assets/logo2.png" alt="images">
        </div>
        <div class="details">
            <h2>SomeOne Famous<br><span>Director</span></h2>
        </div>
      </div>

</div>
<mat-sidenav-container>