
<mat-toolbar class="mat-elevation-z8">

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">

      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>

      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>

  </button>
  <img class="logo" src="../../../assets/logo6.png">
     <!--  <a class="left-nav"  routerLink="/aboutus"><h3>About Us</h3></a>
      <a class="left-nav"  routerLink="/contactus"><h3>Contact Us</h3></a>

-->
  <span class="right-nav"></span>
  <button mat-raised-button color="warn" routerLink="/login">Get Started</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

     <!--  <img class="avatar" src="../../../assets/social-care.png" alt = "userImage"> -->

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

      <button mat-button class="menu-button" routerLink="/aboutus">
          <mat-icon>information</mat-icon>
          <span>About Us</span>
      </button>

      <button mat-button class="menu-button" routerLink="/contactus">
          <mat-icon>phone</mat-icon>
          <span>Contact Us</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/help">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>
  </mat-sidenav>
<mat-sidenav-content>
 
  <div class="container-about">

    <div class="card-about">
      <div class="face face1">
        <div class="content-about">
          <span class="stars"></span>
          <h2 class="card-1">Who we are</h2>
          <p class="card-1">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
        </div>
      </div>
     
    </div>
  
    <div class="card-about">
      <div class="face face1">
        <div class="content-about">
          <span class="stars"></span>
          <h2 class="card-2">Our Vision</h2>
          <p class="card-2">C# is a general-purpose, multi-paradigm programming language encompassing static typing, strong typing, lexically scoped and component-oriented programming disciplines.</p>
        </div>
      </div>
   
    </div>
  
    <div class="card-about">
      <div class="face face1">
        <div class="content-about">
          <span class="stars"></span>
          <h2 class="card-3">Our Mission</h2>
          <p class="card-3">C# is a general-purpose, multi-paradigm programming language encompassing static typing, strong typing, lexically scoped and component-oriented programming disciplines.</p>
        </div>
      </div>
   
    </div>
  </div>
 
<div class="meet-heading">

    <h1 style="color: black;font-size: 30px;">Meet the team</h1>

</div>
<div class="images">
<div class="box">
    <div class="card">
      <div class="imgBx">
          <img src="../../../assets/team/banze.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Banze Antonio<br><span>Software Developer</span></h2>
      </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="../../../assets/team/bohlali.jpg" alt="images">
        </div>
        <div class="details">
            <h2>Mphai Bothale<br><span>Software Developer</span></h2>
        </div>
      </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/cuma.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Cuma Wisani<br><span>Software Developer</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/hamilton.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Marobane Hamilton<br><span>Software Developer</span></h2>
        </div>
     </div>

</div>
<div class="box">
    <div class="card">
      <div class="imgBx">
          <img src="../../../assets/team/judy.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Sibanyoni Judicious<br><span>Software Developer</span></h2>
      </div>
    </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/malaka.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Malaka Thapelo<br><span>Business Analyst</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/mpila.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Mpila Sindiso<br><span>Software Developer</span></h2>
        </div>
     </div>

     <div class="card">
        <div class="imgBx">
            <img src="../../../assets/team/sihle.jpg" alt="images">
        </div>
        <div class="details">
            <h2>Magagula Sphesihle<br><span>Software Developer</span></h2>
        </div>
      </div>

</div>

<div class="box">
    <div class="card">
      <div class="imgBx">
          <img src="../../../assets/team/soesy.jpg" alt="images">
      </div>
      <div class="details">
          <h2>Chauke Osesy<br><span>Business Analyst</span></h2>
      </div>
    </div>
  
     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/thupi.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Thupi Marinkie<br><span>Software Developer</span></h2>
        </div>
     </div>

     <div class="card">
       <div class="imgBx">
          <img src="../../../assets/team/xilombe.jpg" alt="images">
       </div>
       <div class="details">
          <h2>Makhubela Xilombe<br><span>Business Analyst</span></h2>
        </div>
     </div>

     <div class="card">
        <div class="imgBx">
            <img src="../../../assets/logo2.png" alt="images">
        </div>
        <div class="details">
            <h2>SomeOne Famous<br><span>Director</span></h2>
        </div>
      </div>

</div>
</div>
<app-footer></app-footer>
  </mat-sidenav-content>
  
<mat-sidenav-container>
