<div class="back_color">

    
    <div class="content">


        <!--<img src="../../../assets/logo.png"  width="300" alt="">-->
        <div class="form_1">
    
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-label class="txt_head">Login</mat-label>
    
                <br><br>

                <mat-form-field appearance="fill">
                    <mat-label>User Type</mat-label>
                    <mat-select formControlName="user_type" [(ngModel)]="selectedUser">
                        <mat-option *ngFor="let user of users" [value]="user.id" >{{user.type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="User_id">
                    <mat-error *ngIf="User_id.invalid && User_id.touched">Username Reguired</mat-error>
                    <mat-hint>student/staff number</mat-hint>
            
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="fill">
            
                    <mat-label>Password</mat-label>
                    <input matInput  [type]="hide ? 'password' : 'text'" formControlName="Password" >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="(Password.touched || submitted)&& Password.errors?.required">Password is required</mat-error>

                    <mat-error *ngIf="(Password.touched && Password.errors?.invalidPassword)">Password should have minimum 8 of characters,at least 1 uppercase letter,1 lowercase letter and 1 number</mat-error>
                    <mat-hint>Minimum of 8 characters</mat-hint>
                </mat-form-field>
                <br><br>
                <br>
                <button mat-raised-button [disabled]="loginForm.invalid" (click)="UserSelected(selectedUser) " routerLink={{routepage}}>Login</button> &nbsp;&nbsp;

                <button mat-raised-button routerLink="/resetpass">Forgot Password</button>
                <br><br>
            
                <mat-label>Don`t have an account? <span class="txt_sign_up"><a routerLink="/register">Sign-up</a></span></mat-label>
                <br><br>

            </form>
            
            <p>selected value is {{selectedUser}}</p><br>
            <p>selected {{usertype}}</p><br>

        
        
        </div>
        
    

    </div>


</div>

