<div class="back_color">

    
    <div class="content">


        <!--<img src="../../../assets/logo.png"  width="300" alt="">-->
        <div class="form_1">
    
            <mat-label class="txt_head">Login</mat-label>
    
            <br><br>
            <mat-form-field appearance="fill">
        
                <mat-label>Username</mat-label>
                <input matInput required >
                <mat-hint>testing</mat-hint>
        
            </mat-form-field>
            <br><br>
            <mat-form-field appearance="fill">
        
                <mat-label>Password</mat-label>
                <input matInput required >
                <mat-hint>testing</mat-hint>
        
            </mat-form-field>
            <br><br>
            
            <button mat-raised-button>Login</button>
            <br><br>
        
            <mat-label>Don`t have an account? <span class="txt_sign_up"><a routerLink="/register">Sign-up</a></span></mat-label>
            <br><br>
        
        
        
        </div>
        
    
    
    <app-footer></app-footer>
    
    </div>


</div>

