mat-toolbar {
  background: #f03c69;
  color: whitesmoke;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #fc038c;
  color: whitesmoke;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}
mat-icon {
      margin-right: 8px;
  }
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.right-nav {
  display: flex;
  flex: 1 1 auto;
}
.left-nav{
  display: flex;
  margin-left: 20px;
  text-decoration: none;
  
}
.left-nav:visited{
  color: white;
  text-decoration: none;

}
  .container{
    background-image: url('/assets/backdrop.jpg');
    height: 100%;
    overflow-y: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  td {
    padding-right: 8px;
  }
  .container-content{
    text-align: center;
    width: fit-content;
    margin: 50px auto  ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color:white;
    background-color: rgba(128, 128, 128, 0.432);
    height: 80%;
    border-radius: 0.7em;
}
.mat-drawer-container {
  background-image: url('/assets/backdrop.jpg');
  color: #fff;
}