.formstyle
{
    width:20%;
    margin:auto;
    padding:5%;
    background:#0653b8c2;
    color:white;
    border-radius:15px;

}
button
{
    background: #e91e1e;
}
p
{
    color:green;
}
feed
{
    color:red;
}