
.content
{
    background-image: url('../../../assets/backdrop.jpg');
    height:100vh;
    margin: 0;
    padding: 0;
    overflow:auto;
}
.form_1
{
    text-align: center;
    background-color: rgba(119, 164, 172, 0.5);
    padding-top:45px;
    width: 50%;
    
    margin: auto;
    margin-top:8%;
    border-radius: 15px;
}

.txt_head
{
    font-size: 25px;
    color:white;
    text-align: center;
}
.txt_sign_in
{
    color:white;
}
a
{
    text-decoration: none;
    color: white;
}