
mat-toolbar {
    background:#003883;
    color: #ffffff;
    height: 60px;
    text-align: center;
    margin-left: -14px;
}

.logo{
    width: 170px;
    height: fit-content;
    background-color: white ;
    margin-right: 20px;
  }

  .right-nav {
    display: flex;
    flex: 1 1 auto;
  }
.left-nav{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    
}
.content
{
   /*  background-image: url('../../../assets/backdrop.jpg'); */
    height:100vh;
    margin: 0;
    padding: 0;
    overflow:auto;
}
.form_1
{
    text-align: center;
    background-color: #424242;
    padding-top:45px;
    width: 50%;
    
    margin: auto;
    margin-top:8%;
    border-radius: 15px;
}

.txt_head
{
    font-size: 25px;
    color:white;
    text-align: center;
}
.txt_sign_in
{
    color:white;
}
a
{
    text-decoration: none;
    color: white;
}
.mat-raised-button{
  background-color:#e6b102;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: blue !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: blue !important;;
  }
  
  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #e6b102;
  }