<div class="back_color">

    
    <div class="content">


        <!--<img src="../../../assets/logo.png"  width="300" alt="">-->
        <div class="form_1">
    
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <mat-label class="txt_head">Reset Your Password</mat-label>
    
                <br><br>
                <mat-form-field appearance="fill">
            
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="email.invalid && email.touched">E-mail Reguired</mat-error>
                    <mat-hint>registered email</mat-hint>
            
                </mat-form-field>
                <br><br>
        
                <button mat-raised-button type="submit">Reset Password</button> &nbsp;&nbsp;

                <br>
                <br>
            </form>
            
        
        
        
        </div>
        
    
    
    <app-footer></app-footer>
    
    </div>


</div>

