<mat-toolbar class="mat-elevation-z8">

    <img class="logo" src="../../../assets/logo6.png">
    <a class="left-nav"  routerLink="/home"><h3>Home</h3></a>
    <a class="left-nav"  routerLink="/aboutus"><h3>About Us</h3></a>

</mat-toolbar>



<div class="back_color">

    
    <div class="content">


        <!--<img src="../../../assets/logo.png"  width="300" alt="">-->
        <div class="form_1">
    
            <form [formGroup]="resetForm" (ngSubmit)="submitForm()">
                <mat-label class="txt_head">Reset Your Password</mat-label>
    
                <br><br>
                <mat-form-field appearance="fill">
            
                    <mat-label>User ID</mat-label>
                    <input matInput formControlName="User_id">
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="fill">
            
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="resetForm.hasError('email') && !resetForm.hasError('required')">
                        <mat-hint>registered email</mat-hint>
                    </mat-error>
                </mat-form-field>
                <br><br>
        
                <button mat-raised-button type="submit">Reset Password</button> &nbsp;&nbsp;

                <br>
                <br>
            </form>
            
        
        
        
        </div>
        
    
    
    
    </div>


</div>

