<div class="body-content">
    <div class="dialogscroll">

<!--         <mat-card class="student-card">

            <mat-card-header>

                <mat-card-title>Student Card</mat-card-title>
                <mat-card-subtitle>Student Details</mat-card-subtitle>
            
            </mat-card-header>

                 <img class="avatar" src="../../../assets/social-care.png"  mat-card-image>


            <mat-card-content>
                
                <ul  *ngFor="let user of users;">

                    <li>Student number:{{user.User_id}}</li><br>
                    <li>First Name:{{user.First_name}}</li><br>
                    <li>Last Name:{{user.Last_name}}</li> <br>
                    <li>Email:{{user.Email}}</li>
                    <li>Old Password:{{user.Password}}</li>

                </ul>
                <br>
               
            </mat-card-content>
        
        </mat-card> -->


        <br><br>
    
        <mat-card class="student-card">

           

                <h2>Reset Password</h2>
        
                <mat-label>Enter temperature:</mat-label>
        
                <form [formGroup]="passwForm">

                    <mat-form-field appearance="fill">
                        <mat-label>New Password</mat-label>
                        <input formControlName="Password" matInput type="text" placeholder="New Password" >
                      </mat-form-field>

                      <br><br>
                      <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="Password" matInput type="text" placeholder="Confirm Password" >
                      </mat-form-field>
             
                </form>
                <button mat-raised-button color="warn" (click)="onUpdatePassw()">Update Password</button>

  
           
        </mat-card>
        
    
    </div>

</div>
    