<div class="body-content">
    <div class="dialogscroll">

<!--         <mat-card class="student-card">

            <mat-card-header>

                <mat-card-title>Student Card</mat-card-title>
                <mat-card-subtitle>Student Details</mat-card-subtitle>
            
            </mat-card-header>

                 <img class="avatar" src="../../../assets/social-care.png"  mat-card-image>


            <mat-card-content>
                
                <ul  *ngFor="let user of users;">

                    <li>Student number:{{user.User_id}}</li><br>
                    <li>First Name:{{user.First_name}}</li><br>
                    <li>Last Name:{{user.Last_name}}</li> <br>
                    <li>Email:{{user.Email}}</li>
                    <li>Old Password:{{user.Password}}</li>

                </ul>
                <br>
               
            </mat-card-content>
        
        </mat-card> -->


        <br><br>
    
        <mat-card class="student-card">

           

                <h2>Reset Password</h2>
        
                <mat-label>Enter New Password</mat-label>
        
                <form [formGroup]="passwForm" (ngSubmit)="onUpdatePassw()">

                    <mat-form-field appearance="fill">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        
                        <mat-error *ngIf="(Password.touched)&& Password.errors?.required">Password is required</mat-error>
            
                        <mat-error *ngIf="(Password.touched && Password.errors?.invalidPassword)">Password should have minimum 8 of characters,at least 1 uppercase letter,1 lowercase letter and 1 number</mat-error>
                        <mat-hint>minimum 8 of characters</mat-hint>

                      </mat-form-field>

                      <br><br><br>
                      <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm_password" >
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                       <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                
                        <mat-error *ngIf="(confirm_password.touched && confirm_password.errors?.passwordMismatch)">Password should match</mat-error>
                          <mat-hint>Re-type password</mat-hint>
                        </mat-form-field>

                        <br><br>
                      <button mat-raised-button color="warn">Update Password</button>

                </form>
                

  
           
        </mat-card>
        
    
    </div>

</div>
    