.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
  }
  .dialogscroll {
    overflow-y: hidden;
    text-align: center;
    display: flex;
    width: 80%;
  }
  ul li
  {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 30px;
  }
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: blue !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: blue !important;;
  }
  
  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #e6b102;
  }
  